@use 'variables';

.hero {
   
    .container {
    }
    &__text {
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        color: variables.$corTextBtn;
    }

    &__logo {
        margin: auto;
        display: block;
        height: 100px;
        border-radius: 50%;
        padding-bottom: 80px;
        padding-top: 80px;
        line-height: 56px;
    }

    .infos-bar {
        margin-top: 80px;
        margin-top: 80px;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        background-color: variables.$corTextBtn;

        @media(max-width:640px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__infos {
            margin: auto;
            display: flex;
            justify-content: space-between;
            gap: 50;

            @media(max-width:640px) {
                display: block;
            }

            &__item {
                padding: 16px 0;
                b {
                    display: block;
                    font-size: 18px;
                    padding-bottom: 8px;
                }
            }
        }

        .button {
            display:flex;
            align-items: center;

            @media(max-width:640px) {
                display: flex;
                width: 100%;
                height: 44px;
                align-items: center;
                justify-content: center;
                
            }
        }
    }
}